I propose the application having the following features.

Two kinds of parameters:
  Type 1: when their values change, the simulation should be able to take the changes asap (on the fly)
  Type 2: when their values change, the simulation should be restarted
  
Type 1 is used for when we introduce new maximum speed for a segment on the road - traffic control, while Type 2 is used for monitoring.

Type 1: this could be solved in implementation by using multi-threads
  max_speed_by_law_on_segment     maximum speed on the given segment
  begin_segment                   position on the road where the max_speed_by_law_on_segment begins
  end_segment                     position on the road where the max_speed_by_law_on_segment ends
  speed_of_simulation             time delay between state transition of Cellular Automata. Using this parameter we could "debug"
                                  - seeing state transition of road' cells at each t moment.

Type 2:

  Parameters which could be changed, and a button Restart which restarts the simulation with the current parameters values when click, similar to the simulation in game theory assignment (remember that?)

  Parameters:
    Road length (==> number of cells)
    cell length
    number of lanes: for now fixed to 2 lanes (read only field)
    density (value from 1 to 90%) ==> display the number of cars on the road (numCars = road length / cell length) * density)

  truckRatio: percentage of trucks on the road
  fastCarRatio:
  slowCarRatio:
  
  car:
    max_speed_by_law:     90km/h for truck, 130km/h for car
    desire_speed_factor:  >1 for fast car, <1 for slow car, [0.9, 1.2] for truck, [.75, 1.4] for car, (randomly)
                          desire speed = speed that its driver wants to reach on the high way
                          from this value we could infer the desire speed = max_speed_by_law * desire_speed_factor
    current_speed         the current speed of the car
    position:             current position on the lane (randomly at beginning)
    lane:                 the lane the car is on (randomly at beginning)
    driver_behaviour      obey the rule (polite) / not polite (randomly)
  
  Start / Restart simulation
    generate numCars with the given ratio's, car's position and lane are chosen randomly with controlling such that 
      - only 1 car per cell and 
      - two cars on the same lane should be XXX cells far from each other (I will calculate this number precisely later)
    
  let cars running following rules, which are defined as follows.
  
  
RULES for cars.
each car check the following rule (based on paper 1992)
I will update it soon
